version: "3.7"

services:
  dl-loading-ui:
    privileged: true
    build:
      context: .
      network: host
      dockerfile: Dockerfile
      args:
        LOADING_UI_HARDCODED_USERS_FILE: ${LOADING_UI_HARDCODED_USERS_FILE}
    env_file:
      - ${ENV_FILE}
    ports:
      - ${LOADING_UI_PORT_EXT}:${LOADING_UI_PORT_INT}
    cap_add:
      - SYS_ADMIN
    security_opt:
      - "apparmor:unconfined"
    devices:
      - /dev/fuse
    entrypoint: ["bash", "-c",  "mkdir -p /mnt/s3data/data && mount-s3 $AWS_S3_BUCKET /mnt/s3data/data && java -jar -debug /usr/local/dl-loading-ui.war --spring.config.additional-location=/etc/dl-loading-ui/"]
    image: camdl/dl-loading-ui:latest
    platform: linux/amd64
    volumes:
      # Use locally built WAR instead of rebuilding the image on every change.
      - ./target/ui-0.1.0-SNAPSHOT.war:/usr/local/dl-loading-ui.war

    depends_on:
      - dl-loading-db
#      - s3fs

#  s3fs:
#    privileged: true
#    image: efrecon/s3fs:1.86
#    restart: always
#    env_file:
#      - ${ENV_FILE}
#      # A workaround for bucket names containing '.' until the related s3fs-fuse issue is resolved
#      # Keep in mind this is a secrutiy risk (default is https)
#      # - AWS_S3_URL=http://s3.amazonaws.com
#    volumes:
#      - /mnt/s3data/data:/opt/s3fs/bucket:shared

  dl-loading-db:
    build:
      context: docker/dl-loading-db
      dockerfile: Dockerfile
      args:
        LOADING_DB_USER_SETUP_SQL: ${LOADING_DB_USER_SETUP_SQL}
        POSTGRES_PASSWORD: ${LOADING_DB_PASSWORD}
    restart: always
    image: camdl/dl-loading-db:latest
    platform: linux/amd64
    volumes:
      - dl-loading-db:/var/lib/postgresql/data
    command: -p ${LOADING_DB_PORT_INT}
    environment:
      POSTGRES_USER: ${LOADING_DB_USER}
      POSTGRES_DB: ${LOADING_DB_DATABASE}
      POSTGRES_PASSWORD: ${LOADING_DB_PASSWORD}

volumes:
  dl-loading-db:
