<sidebar th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/index.html">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <!-- <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-fw fa-folder"></i>
                 <span>Pages</span>
             </a>
             <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                 <h6 class="dropdown-header">Login Screens:</h6>
                 <a class="dropdown-item" href="login/login.html">Login</a>
                 <a class="dropdown-item" href="login/register.html">Register</a>
                 <a class="dropdown-item" href="login/forgot-password.html">Forgot Password</a>
                 <div class="dropdown-divider"></div>
                 <h6 class="dropdown-header">Other Pages:</h6>
                 <a class="dropdown-item" href="error-404.html">404 Page</a>
                 <a class="dropdown-item" href="blank.html">Blank Page</a>
             </div>
         </li>-->
        <li class="nav-item">
            <a class="nav-link disabled" href="edit.html">
                <i class="fas fa-fw fa-edit"></i>
                <span>Edit</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="package.html">
                <i class="fas fa-fw fa-box-open"></i>
                <span>Package</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deploy/deploy.html">
                <i class="fas fa-fw fa-file-upload"></i>
                <span>Deploy</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="user-management.html">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>User Management</span></a>
        </li>
    </ul>
</sidebar>
