<styles th:fragment="styles" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Styles need to be at this level to prevent flashing unstyled pages -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

</styles>
