/** Used for Iframe for image select **/
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > img {
    height: auto;
}
@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
/** End of Iframe for image select **/

/** Release Status select colouring **/
#releaseStatus.release-status-draft,
#releaseStatus option.release-status-draft {
    background-color: #f8d7da;
    color: #721c24;
}
#releaseStatus.release-status-released,
#releaseStatus option.release-status-released {
    background-color: #d4edda;
    color: #155724;
}
