a.disabled {
    color: gray;
    pointer-events: none;
}

.collection-card-background-image-div {
    position: absolute;
    top: 0;
    left: 0;
}

.collection-card-background-image {
    float:left;
    opacity: .3;
    padding:0;
    border:0;
}
