<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main-layout}">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/deploy.css" rel="stylesheet">
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Deploy</li>
        </ol>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Deploy your content</h1>
        </div>

        <div class="col-lg-8">
            <div class="mb-4">
                <div th:if="${message!=''}">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div th:if="${error!=''}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>
            </div>

            <!-- Cards -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary col">Deploy</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <button class="btn btn-primary" type="submit" data-toggle="modal"
                                    data-target="#confirmDeployModal">Deploy this version to Production</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Created by Cambridge University Library</span>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="confirmDeployModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeployModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeployLabel">Deploy all changes?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">This will deploy the current content to <b>production</b>.
                </div>
                <div class="modal-footer">
                    <form method="POST" th:id="confirmDeployForm" action="/deploy/production">
                        <button type="submit" value="value" class="btn btn-primary">Deploy</button>
                    </form>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /.content-wrapper -->
</body>
</html>
