<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main-layout}">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <link href="/webjars/ckeditor/standard/contents.css" rel="stylesheet">
    <link href="/css/edit-collection.css" rel="stylesheet">

    <!-- page styles -->
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/edit/edit.html">Edit</a>
            </li>
            <li class="breadcrumb-item active">Edit Collection</li>
        </ol>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 ml-3">Edit Collection</h1>
        </div>

        <div class="col-lg-11" style="max-width: 1200px">
            <div class="mb-4">
                <div th:if="${message}">
                    <div class="alert alert-success" role="alert">
                        <span th:utext="${message}"></span>
                    </div>
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger" role="alert">
                        <span th:utext="${error}"></span>
                    </div>
                </div>
            </div>

            <div>
                <div class="card shadow mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark float-left">
                                <span th:text="${form.shortName}"></span></h6>
                        </div>
                        <div class="card-body">

                            <form method="post" id="collectioneditform"
                                  th:action="@{'/edit/collection/update?workspaceIds='+${workspaceIds}}"
                                  th:object="${form}">
                                <input type="hidden" name="itemIds" th:value="*{ItemIds}">
                                <input type="hidden" name="subCollectionIds" th:value="*{subCollectionIds}">
                                <input type="hidden" name="collectionId" th:value="*{collectionId}">
                                <input type="hidden" name="page" th:value="${currentPage}">
                                <input type="hidden" name="search" th:value="${searchTerm}">
                                <div class="form-group w-auto">
                                    <div class="row">
                                        <div class="col"><h4>Names</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-4 m-2 text-right">Identifier / URL</div>
                                                <div class="col m-2">
                                                    <div class="alert-danger"
                                                         th:if="${#fields.hasErrors('urlSlugName') && newCollection}"
                                                         th:errors="*{urlSlugName}"></div>

                                                    <input th:disabled="${!newCollection}" class="form-control"
                                                           type="text" name="urlSlugName"
                                                           id="name.urlSlugName"
                                                           maxlength="30"
                                                           th:value="*{urlSlugName}">

                                                    <input th:if="${!newCollection}" type="hidden" name="urlSlugName" th:value="*{urlSlugName}">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4 m-2 text-right">
                                                    <label for="name.shortName">Short name</label>
                                                </div>
                                                <div class="col-6 m-2">
                                                    <div class="alert-danger" th:if="${#fields.hasErrors('shortName')}"
                                                         th:errors="*{shortName}"></div>
                                                    <input class="form-control" type="text" name="shortName"
                                                           id="name.shortName"
                                                           maxlength="30"
                                                           th:value="*{shortName}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 m-2 text-right">
                                                    <label for="name.full">Full name</label>
                                                </div>
                                                <div class="col m-2">
                                                    <div class="alert-danger" th:if="${#fields.hasErrors('fullName')}"
                                                         th:errors="*{fullName}"></div>
                                                    <input class="form-control" type="text" th:name="fullName"
                                                           id="name.full"
                                                           maxlength="50"
                                                           th:value="*{fullName}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 m-2 text-right">
                                                    <label for="name.sort">Sorting name</label>
                                                </div>
                                                <div class="col m-2">
                                                    <div class="alert-danger" th:if="${#fields.hasErrors('sortName')}"
                                                         th:errors="*{sortName}"></div>
                                                    <input class="form-control" type="text" name="sortName"
                                                           id="name.sort"
                                                           maxlength="50"
                                                           th:value="*{sortName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div style="width: 150px">
                                                            <img id="thumbnailImage" class="img-thumbnail"
                                                                 th:src="${pathForDataDisplay.resolve(thumbnailURL)}"
                                                                 width="150px"
                                                                 height="150px">
                                                            <input id="thumbnailImageInput" type="hidden"
                                                                   name="thumbnailURL"
                                                                   th:value="${thumbnailURL}">
                                                        </div>
                                                        <div class="col">
                                                            <p><u>Collection Thumbnail</u></p>
                                                            <p>This image should be square and 150x150
                                                                pixels.</p>
                                                            <p><a href="#"
                                                                  id="replaceImageModalButton">Replace
                                                                Image</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-6">
                                        <div class="col"><h4>Description</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 m-2 text-right">
                                            <label for="collectionType">Layout</label>
                                        </div>
                                        <div class="col m-2">
                                            <div class="alert-danger" th:if="${#fields.hasErrors('collectionType')}"
                                                 th:errors="*{collectionType}"></div>
                                            <select th:field="*{collectionType}" name="collectionType" id="collectionType">
                                                <option th:each="collectionTypeOption : ${T(uk.cam.lib.cdl.loading.model.editor.CollectionType).values()}"
                                                        th:value="${collectionTypeOption}" th:text="${collectionTypeOption}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 m-2 text-right">
                                            <label for="description.shortDescription">Short</label>
                                        </div>
                                        <div class="col m-2">
                                            <div class="alert-danger" th:if="${#fields.hasErrors('shortDescription')}"
                                                 th:errors="*{shortDescription}"></div>
                                            <textarea class="form-control" name="shortDescription"
                                                      id="description.shortDescription"
                                                      rows="4" cols="80"
                                                      th:text="*{shortDescription}"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 m-2 text-right">
                                            <label for="description.medium">Medium</label>
                                        </div>
                                        <div class="col m-2">
                                            <div class="alert-danger" th:if="${#fields.hasErrors('mediumDescription')}"
                                                 th:errors="*{mediumDescription}"></div>
                                            <textarea class="form-control" name="mediumDescription"
                                                      id="description.medium"
                                                      rows="4" cols="80"
                                                      th:text="*{mediumDescription}"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 m-2 text-right">
                                            <label for="description.full">Full</label>
                                        </div>
                                        <div class="col m-2">
                                            <div class="alert-danger"
                                                 th:if="${#fields.hasErrors('fullDescriptionHTML')}"
                                                 th:errors="*{fullDescriptionHTML}"></div>

                                            <textarea class="form-control"
                                                      id="description.full"
                                                      name="fullDescriptionHTML"
                                                      th:text="*{fullDescriptionHTML}"
                                            ></textarea>
                                            <input type="hidden" name="fullDescriptionPath"
                                                   th:value="*{fullDescriptionPath}">
                                        </div>
                                    </div>

                                    <div class="row mt-6">
                                        <div class="col"><h4>Credit</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 m-2 text-right">
                                            <label for="credit.prose">Sponsors</label>
                                        </div>
                                        <div class="col m-2">
                                            <div class="alert-danger" th:if="${#fields.hasErrors('proseCreditHTML')}"
                                                 th:errors="*{proseCreditHTML}"></div>
                                            <textarea class="form-control"
                                                      id="credit.prose"
                                                      name="proseCreditHTML"
                                                      th:text="*{proseCreditHTML}"
                                            ></textarea>
                                            <input type="hidden" name="proseCreditPath"
                                                   th:value="*{proseCreditPath}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-6" th:if="*{not #arrays.isEmpty(subCollectionIds)}">
                                    <div class="col"><h4>Sub-Collections</h4></div>
                                </div>
                                <div class="row" th:if="*{not #arrays.isEmpty(subCollectionIds)}">
                                    <div class="col">
                                        <ul>
                                            <li class="list-unstyled" th:each="id :*{subCollectionIds}" th:text="${id}"></li>
                                        </ul>
                                    </div>
                                </div>

                            </form>
                            <div class="row mt-6">
                                <div class="col"><h4>Items</h4></div>
                                <div class="col text-muted small"
                                     th:if="${!newCollection && totalItemCount > 0}">
                                    Showing
                                    <span th:text="${currentPage * pageSize + 1}"></span>
                                    –
                                    <span th:text="${currentPage * pageSize + items.size()}"></span>
                                    of
                                    <span th:text="${totalItemCount}"></span>
                                    items
                                    <span th:if="${searchTerm}">
                                        matching "<span th:text="${searchTerm}"></span>"
                                    </span>.
                                </div>
                            </div>
                            <div th:if="${!newCollection && totalItemCount > 0}" class="row mt-2">
                                <div class="col-6 offset-2">
                                    <form method="get" th:action="@{/edit/collection/}">
                                        <input type="hidden" name="collectionId" th:value="${form.collectionId}">
                                        <input type="hidden" name="workspaceIds" th:value="${workspaceIds}">
                                        <input type="hidden" name="page" th:value="${currentPage}">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="search"
                                                   placeholder="Search items by id or name"
                                                   th:value="${searchTerm}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:if="${!newCollection && totalItemCount > 0}" class="row">
                                <div class="col-2 m-2 text-right">

                                </div>
                                <div class="m-2">

                                    <table class="table table-hover table-bordered" id="dataTable"
                                           width="100%"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Filename</th>
                                            <th>Options</th>
                                        </tr>
                                        </thead>
                                        <tbody th:if="${items.size()>0}">

                                        <tr th:each="i : ${#numbers.sequence( 0, items.size()-1)}">
                                            <span th:with="item=${items.get(i)}">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="mr-2" th:text="${itemPositions.get(item.id()) + 1}"></span>
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Reorder item">
                                                        <form method="post"
                                                              action="/edit/collection/moveItem"
                                                              class="d-inline">
                                                            <input type="hidden" name="collectionId" th:value="${form.collectionId}">
                                                            <input type="hidden" name="workspaceIds" th:value="${workspaceIds}">
                                                            <input type="hidden" name="page" th:value="${currentPage}">
                                                            <input type="hidden" name="search" th:value="${searchTerm}">
                                                            <input type="hidden" name="itemId" th:value="${item.id()}">
                                                            <input type="hidden" name="direction" value="up">
                                                            <button type="submit"
                                                                    class="btn btn-link p-0"
                                                                    th:disabled="${itemPositions.get(item.id()) == 0}">
                                                                <i class="fas fa-arrow-up text-gray-500"></i>
                                                            </button>
                                                        </form>
                                                        <form method="post"
                                                              action="/edit/collection/moveItem"
                                                              class="d-inline ml-1">
                                                            <input type="hidden" name="collectionId" th:value="${form.collectionId}">
                                                            <input type="hidden" name="workspaceIds" th:value="${workspaceIds}">
                                                            <input type="hidden" name="page" th:value="${currentPage}">
                                                            <input type="hidden" name="search" th:value="${searchTerm}">
                                                            <input type="hidden" name="itemId" th:value="${item.id()}">
                                                            <input type="hidden" name="direction" value="down">
                                                            <button type="submit"
                                                                    class="btn btn-link p-0"
                                                                    th:disabled="${itemPositions.get(item.id()) == totalItemCount - 1}">
                                                                <i class="fas fa-arrow-down text-gray-500"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a th:if="${#strings.containsIgnoreCase(item.id(),'tei')}"
                                                   th:href="@{/edit/item(id=${item.id().toString()})}"
                                                   th:text="${itemNames.get(item.id())}">
                                                </a>
                                                <div th:if="${!#strings.containsIgnoreCase(item.id(),'tei')}"
                                                     th:text="${itemNames.get(item.id())}">
                                                </div>
                                            </td>
                                            <td>
                                                <form
                                                    action="/edit/collection/deleteItem"
                                                    method="post" th:id="'deleteItemForm_'+${item.id()}">
                                                    <input type="hidden" name="itemId" th:value="${item.id()}">
                                                    <input type="hidden" name="collectionId" th:value="${form.collectionId}">
                                                    <input type="hidden" name="page" th:value="${currentPage}">
                                                    <input type="hidden" name="search" th:value="${searchTerm}">
                                                    <button class="btn btn-link"
                                                            th:id="'deleteItemButton_'+${item.id()}"
                                                            onclick="return loading_ui_edit_collection.showDeleteModal(this);">
                                                        <i class="fas fa-trash-alt text-gray-500"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            </span>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div th:if="${!newCollection && totalPages > 1}" class="row mt-2">
                                <div class="col d-flex justify-content-end">
                                    <nav aria-label="Items page navigation">
                                        <ul class="pagination pagination-sm mb-0">
                                            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                                                <a class="page-link"
                                                   th:href="@{/edit/collection/(collectionId=${form.collectionId},workspaceIds=${workspaceIds},page=${currentPage - 1},search=${searchTerm})}">
                                                    Previous
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <span class="page-link">
                                                    Page <span th:text="${currentPage + 1}"></span>
                                                    of <span th:text="${totalPages}"></span>
                                                </span>
                                            </li>
                                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? ' disabled'">
                                                <a class="page-link"
                                                   th:href="@{/edit/collection/(collectionId=${form.collectionId},workspaceIds=${workspaceIds},page=${currentPage + 1},search=${searchTerm})}">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div th:if="${newCollection}" class="row">
                                <div class="col-2 m-2 text-right">
                                </div>
                                <div class="col-6 m-2">
                                    Please 'Update' to create your collection before you can add items.
                                </div>
                            </div>
                            <div class="row mt-6">
                                <div>
                                </div>
                            </div>
                            <div th:if="${!newCollection}" class="row mt-6">
                                <div class="col-6 offset-2 mt-2 mb-2">
                                    <a class="btn btn-primary" th:href="@{/edit/item(col=${form.collectionId})}" href="#" role="button">Add new item</a>
                                </div>
                            </div>
                            <div th:if="${!newCollection}" class="row mt-6">
                                <div class="col-6 offset-2 mt-2 mb-2">
                                    <form action="/edit/collection/addExistingItemsToCollection" method="post" >
                                        <input type="hidden" name="collectionId" th:value="${form.collectionId}">
                                        <input type="hidden" name="workspaceIds" th:value="${workspaceIds}">
                                        <input type="hidden" name="page" th:value="${currentPage}">
                                        <input type="hidden" name="search" th:value="${searchTerm}">
                                        <label>Item ids (comma separated) e.g. MS-ADD-03958,MS-ADD-03960,MS-ADD-03996</label>
                                        <input class="form-control" type="text" name="itemIds" size="60"
                                               id="itemIds">
                                        <button type="submit" class="btn btn-primary
                                                float-right m-1">Add existing items</button>
                                    </form>
                                </div>
                            </div>

                            <div class="row mt-6">
                                <div class="col">
                                    <button type="button" id="collectioneditform-reset" class="btn btn-secondary
                                                float-right
                                        m-1">Reset
                                    </button>
                                    <button type="button" id="collectioneditform-submit" class="btn btn-primary
                                                float-right m-1">Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">Your changes are being saved...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteItemModalLabel">Remove this item?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will remove the item from this collection and delete the item if there are no other
                    collections it is contained in.
                </div>
                <div class="modal-footer">
                    <button value="value" class="btn btn-danger" id="confirmDeleteItemButton">
                        Remove Item
                    </button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="replaceImageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div style="--aspect-ratio: 16/9;">
                        <iframe src="/editor/browse/images" width="1000px" height="500px" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Created by Cambridge University Library</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->

<div id="page_js" layout:fragment="page_js">
    <script type="text/javascript" src="/webjars/ckeditor/standard/ckeditor.js"></script>
    <script type="text/javascript" src="/js/edit-collection.js"></script>
</div>
</body>
</html>
