<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main-layout}">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Welcome to the CDL Content Loader</h1>
        </div>
        <div class="row bg-dark col-lg-7">

            <div class="col">

                <!-- Cards -->
                <div class="card shadow mb-4 mt-4 ">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Edit your content</h6>
                    </div>
                    <div class="card-body">
                        To me implemented...
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Package your content</h6>
                    </div>
                    <div class="card-body">
                        To me implemented...
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6
                            class="m-0 font-weight-bold text-primary"><a href="/deploy/deploy.html">Deploy your
                            content</a></h6>
                    </div>
                    <div class="card-body">
                        Once you have a package, you can <a href="/deploy/deploy.html">deploy it</a> to one of your
                        servers for
                        review.
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <div class="d-flex flex-row">
                    <img src="/img/overview.png" style="opacity:0.75"
                         class="mb-4 mt-4">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Created by Cambridge University Library</span>
            </div>
        </div>
    </footer>


</div>
<!-- /.content-wrapper -->

</body>
</html>
