<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/simple-layout-dark}" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container col-12 row justify-content-center">
        <div class="card card-login col-5 mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form th:action="@{/login/login.html}" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input name="username" type="text" id="username" class="form-control" placeholder="Username"
                                   required="required" autofocus="autofocus">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input name="password" type="password" id="password" class="form-control"
                                   placeholder="Password"
                                   required="required">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="login/register.html">Register an Account</a>
                    <a class="d-block small" href="login/forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
        <div class="card card-login col-4 m-5 text-black-50 ">
            <div class="card-header">Example Logins</div>
            <div class="card-body">
                <p>Use these examples to test the system:</p>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Username</td>
                        <td>Password</td>
                        <td>Role</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>manchester</td>
                        <td>viewme</td>
                        <td>ROLE_USER, ROLE_ADMIN</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>basicadminpass</td>
                        <td>ROLE_USER, ROLE_ADMIN</td>
                    </tr>
                    <tr>
                        <td>user</td>
                        <td>basicuserpass</td>
                        <td>ROLE_USER</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.content-wrapper -->

</body>
</html>
