<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main-layout}">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/deploy.css" rel="stylesheet">
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Package</li>
        </ol>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Package your content</h1>
        </div>

        <div class="col-lg-8">
            <div class="mb-4">
                <div th:if="${message}">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>
            </div>

            <!-- Cards -->
            <div class="card shadow mb-4">

                <div class="row" th:if="${updates.size()>0 && showChanges}">
                    <div class="col-8 m-3">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold">Edits</h6>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Files Changed</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-striped text-dark">

                                    <tr th:each="i : ${#numbers.sequence( 0, updates.size()-1)}"
                                        th:with="update=${updates.get(i)}">

                                        <th scope="row" th:text="${i+1}"></th>
                                        <td th:text="${update.getAuthor()}"/>
                                        <td th:text="${update.getDateString()}"/>
                                        <td>
                                            <div th:each="file: ${update.getFilesChanged()}">
                                                <div class="row" th:text="${file}"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>There have been <b th:text="${updates.size()}"></b> edits made to the data,
                                    ready to package.</p>
                                <a href="/package/startProcess" class="btn btn-primary">Build a package</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${updates.size()<=0}">
                    <div class="col-8 m-3">
                        No changes have been made.
                    </div>
                </div>

                <div class="row">
                    <div class="col m-3">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold">History</h6>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Build</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Result</th>
                                        <th scope="col">Package</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-striped">

                                    <tr th:each="pipeline: ${pipelines}">
                                        <td><a th:href="'/package/'+${pipeline.id}+'/status'"><span
                                            th:text="${pipeline.buildNumber}"></span></a></td>

                                        <td th:text="${pipeline.created}"></td>

                                        <td th:text="${pipeline.status.name}"></td>
                                        <td
                                            th:text="${pipeline.status.resultName != null} ? ${pipeline.status.resultName} : '...'"
                                            th:class="${pipeline.status.resultType == 'pipeline_state_completed_successful'} ?
                                            'table-success' : (${pipeline.status.resultType == 'pipeline_state_completed_failed'} ? 'table-danger' : 'table-warning')"
                                        ></td>

                                        <td th:text="${tagLookup.get(pipeline.id)?.name}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Created by Cambridge University Library</span>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="confirmChangeModal" tabindex="-1" role="dialog" aria-labelledby="confirmChangeModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmChangeLabel">Deploy a new version?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">This will deploy the package <b><span
                    id="confirmChangePackageName"></span></b> to
                    <b><span id="confirmChangeInstanceId"></span></b>.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="POST" th:id="confirmDeployForm" th:object="${DeployForm}" action="#">
                        <input type="hidden" name="version" value=""/>
                        <button type="submit" value="value" class="btn btn-primary">Deploy</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.content-wrapper -->

</body>
</html>
