<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main-layout}">
<head>
    <!-- TODO: fix the flash of unstyled content that happens if these styles are not included here -->
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <!-- page styles -->
</head>
<body>
<div id="content-wrapper" layout:fragment="content">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/user-management/">User Management</a>
            </li>
            <li class="breadcrumb-item active">Edit User</li>
        </ol>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 ml-3">Edit User</h1>
        </div>

        <div class="col-lg-11" style="max-width: 1200px">
            <div class="mb-4">
                <div th:if="${message}">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>
            </div>

            <div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-dark float-left">
                            <span th:text="${form.username}"></span></h6>
                    </div>
                    <div class="card-body">

                        <form method="post" id="updateuserform"
                              th:action="@{'/user-management/user/update'}"
                              th:object="${form}">
                            <input type="hidden" name="id" th:value="*{id}">
                            <input type="hidden" name="password" th:value="*{password}">
                            <div class="form-group w-auto">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-4 m-2 text-right">Username</div>
                                            <div class="col m-2">
                                                <div class="alert-danger"
                                                     th:if="${#fields.hasErrors('username')}"
                                                     th:errors="*{username}"></div>

                                                <input class="form-control"
                                                       type="text" name="username"
                                                       id="username"
                                                       maxlength="30"
                                                       th:value="*{username}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4 m-2 text-right">First Name</div>
                                            <div class="col m-2">
                                                <div class="alert-danger"
                                                     th:if="${#fields.hasErrors('firstName')}"
                                                     th:errors="*{firstName}"></div>

                                                <input class="form-control"
                                                       type="text" name="firstName"
                                                       id="firstName"
                                                       maxlength="30"
                                                       th:value="*{firstName}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4 m-2 text-right">Last Name</div>
                                            <div class="col m-2">
                                                <div class="alert-danger"
                                                     th:if="${#fields.hasErrors('lastName')}"
                                                     th:errors="*{lastName}"></div>

                                                <input class="form-control"
                                                       type="text" name="lastName"
                                                       id="lastName"
                                                       maxlength="30"
                                                       th:value="*{lastName}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4 m-2 text-right">Email</div>
                                            <div class="col m-2">
                                                <div class="alert-danger"
                                                     th:if="${#fields.hasErrors('email')}"
                                                     th:errors="*{email}"></div>

                                                <input class="form-control"
                                                       type="text" name="email"
                                                       id="email"
                                                       maxlength="30"
                                                       th:value="*{email}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4 m-2 text-right">
                                                <label>Enabled</label>
                                            </div>
                                            <div class="col-6 m-2">
                                                <div class="alert-danger" th:if="${#fields.hasErrors('enabled')}"
                                                     th:errors="*{enabled}"></div>

                                                <input type="checkbox"
                                                       th:field="*{enabled}"
                                                       name="enabled"
                                                       th:value="*{enabled}"/>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4 m-2 text-right">
                                                <label>ROLES</label>
                                            </div>
                                            <div class="col-6 m-2">
                                                <div class="alert-danger" th:if="${#fields.hasErrors('authorities')}"
                                                     th:errors="*{authorities}"></div>

                                                <div th:each="role: ${allRoles}">
                                                    <input type="checkbox"
                                                           th:field="*{authorities}"
                                                           name="authorities"
                                                           th:value="${role}"/>
                                                    <label th:text="${role}"></label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-6">
                                <div class="col">
                                    <div class="float-right">
                                        <button type="button" id="umform-submit" class="btn btn-primary
                                                m-1">Update
                                        </button>
                                        <button type="button" id="umform-reset" class="btn btn-secondary
                                             m-1">Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form method="post" id="deleteuserform" th:action="@{'/user-management/user/delete'}"
                              th:object="${form}">
                            <input type="hidden" name="id" th:value="*{id}">
                            <div class="row mt-6">
                                <div class="col">
                                    <div class="float-right">
                                        <button type="button" id="umform-delete" class="btn btn-danger
                                                 m-1">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">Your changes are being saved...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete this User?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the user. This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button value="value" class="btn btn-danger" id="confirmDeleteButton">
                        Delete user
                    </button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Created by Cambridge University Library</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->

<div id="page_js" layout:fragment="page_js">
    <script type="text/javascript" src="/js/user-management-user.js"></script>
</div>
</body>
</html>
